body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid red;
  
}

.title {
  background: #e3f4ff;
  margin-top: 0px;
}

.content {
  background: #e3f4ff;
  border: 8px solid white;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}