body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid white;
  
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  padding: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-top: 8px;
  border-bottom: 8px solid white;
  border-top: 8px solid white;
}

.button-container {
  padding: 4px;
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}